html, body {
    font-family: '微软雅黑';
}
div.k-edit-form-container
{
    width: auto;
    min-width: 400px;
}

div.zfegg-login-form {
    display: none;
    width: 400px;
    margin: -110px 0 0 -220px;
    height: 200px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    position: absolute;
    top: 50%;
    left: 50%;
}
div.zfegg-login-form h1 {
    text-align: center;
}